@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: bg-base-200;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-base-200;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Eurostile', sans-serif;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostile.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-eurostile {
  font-family: 'Eurostile', sans-serif;
}